* {
    box-sizing: border-box;
}

body {
    background-color: gray;
    font-family: sans-serif;
}

.calculator-container {
    width: 570px;
    height: 800px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.display,.prev-display {
    background-color: #000000;
    width: 100%;
    height: 200px;
    color: #fff;
    font-size: 3rem;
    border-bottom: 0px;
    text-align: right;
    padding: 10px;
    border: none;
    outline: none;
}

.prev-display {
    border-radius: 15px 15px 0px 0px;
    color :rgba(255, 255, 255, 0.67)
}

.calculator {
    border-radius: 4px;
    background-color: #000000;
    width: 100%;
    height: 800px;
    align-items: center;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 0px 0px 30px 30px;
}

.number, .operator, .dot, .clear {
    color: #fff;
    background-color: rgb(65, 63, 63);
    font-size: 3rem;
    margin: 1rem;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border-style: none;

}

.number:hover {
    background-color: rgb(78, 76, 76);

}

.number:active {
    background-color: rgb(45, 44, 44);

}

.operator {
    background-color: rgb(243, 163, 50);
}

.operator:hover {
    background-color: rgb(222, 156, 64);
}

.operator:active {
    background-color: rgb(222, 136, 16);
}

.clear {
    background-color: #8d8a8a;
}

.clear:hover {
    background-color: #a1a1a1;
}

.clear:active {
    background-color: #656363;
}